{% extends 'adminlte/base.html' %}

{% block title %}Item Group List{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-auto">
                            <h1>Item Groups</h1>
                        </div>
                        <div class="col-auto">
                            <a href="{% url 'inventory:create_item_group' %}" class="btn btn-primary">+ New Item Group</a>
                        </div>
                    </div>
                </div>
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Item Group Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item_group in item_groups %}
                            <tr>
                                <td><a href="{% url 'inventory:item_group_detail' pk=item_group.pk %}">{{ item_group.item_group_name }}</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <a href="{% url 'inventory:item_settings' %}" class="btn btn-secondary">Back</a>
        </div>
    </div>
{% endblock %}
