{% extends 'adminlte/base.html' %}

{% block title %}Unit of Measurement List{% endblock %}

{% block content %}
    <h1>Unit of Measurement List</h1>
    <ul>
        {% for unit_of_measurement in unit_of_measurements %}
            <li><a href="{% url 'inventory:unit_of_measurement_detail' pk=unit_of_measurement.pk %}">{{ unit_of_measurement.unit_of_measurement }}</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'inventory:create_unit_of_measurement' %}">Create New Unit of Measurement</a>
{% endblock %}
