<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unit of Measurement List</title>
</head>
<body>
    <h1>Unit of Measurement List</h1>
    <ul>
        {% for unit_of_measurement in unit_of_measurements %}
            <li><a href="{% url 'inventory:unit_of_measurement_detail' pk=unit_of_measurement.pk %}">{{ unit_of_measurement.unit_of_measurement }}</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'inventory:create_unit_of_measurement' %}">Create New Unit of Measurement</a>
</body>
</html>
